* { 
    font-family: 'Times New Roman', Times, serif;
    line-height: 20px;
    font-size: 15px;

}
html{
    background-color: #dedede;
}
.layar-dalam{
    width: 1000px;
    margin: auto;
}
nav{
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #b1b1b1;
    line-height: 60px;
    width: 100%;
}